@import "Variables";


.content {
    background-color: #b9935a;
    //background-color: #5ab972;
}




.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}

.logo-big {
    display: block;
    max-width: 803px;
    margin: auto;
}

//.carousel, .carousel-inner > .carousel-item > img {
 //   max-height: 700px;
  //}

  .imgnormalizada img {
    width: auto;
    max-height: 600px;
    margin: auto;
  }

@media screen and (min-width: 980px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col {
        flex: 1;
    }
}



